.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content {
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
}

.checked {
    color: orange;
}

.not-checked {
    color: white;
}

.half-checked {
    background: -webkit-linear-gradient(to right, orange 50%, white 50%);
    background: linear-gradient(to right, orange 50%, white 50%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.offcanvas-top {
    height: fit-content;
}